<link rel="stylesheet" type="text/css" href="stylesheets/soft.scss">
<div class="title_1">
 ＃ソフト系パン
</div>

<div class="bl_media_container">
    <div class="bl_media_itemWrapper">
      <div class="bl_media_item">
      <p class="img"><img src="img/..." alt=""></p>
<% @tweets.each do |t| %>
 <% if t.category == "ソフト系" %> 
 <%= image_tag t.image_url, size: "250x200" if t.image? %>
        <%= t.user.email %>
        <%= t.name %>
        <%= t.store %>
<% end %> 
<% end %>
        </div>
    </div>
    <div class="bl_media_itemWrapper">
      <div class="bl_media_item">
        <p class="img"><img src="img/..." alt=""></p>
<% @tweets.each do |t| %>
 <% if t.category == "ソフト系" %> 
 <%= image_tag t.image_url, size: "250x200" if t.image? %>
        <%= t.user.email %>
        <%= t.name %>
        <%= t.store %>
<% end %> 
<% end %>
        </div>
     </div>
     <div class="bl_media_itemWrapper">
     <div class="bl_media_item">
       <p class="img"><img src="img/..." alt=""></p>
<% @tweets.each do |t| %>
 <% if t.category == "ソフト系" %> 
 <%= image_tag t.image_url, size: "250x200" if t.image? %>
        <%= t.user.email %>
        <%= t.name %>
        <%= t.store %>
<% end %> 
<% end %>
        </div>
     </div>
     <div class="bl_media_itemWrapper">
     <div class="bl_media_item">
       <p class="img"><img src="img/..." alt=""></p>
<% @tweets.each do |t| %>
 <% if t.category == "ソフト系" %> 
 <%= image_tag t.image_url, size: "250x200" if t.image? %>
        <%= t.user.email %>
        <%= t.name %>
        <%= t.store %>
<% end %> 
<% end %>
        </div>
     </div>
     <div class="bl_media_itemWrapper">
     <div class="bl_media_item">
       <p class="img"><img src="img/..." alt=""></p>
<% @tweets.each do |t| %>
 <% if t.category == "ソフト系" %> 
 <%= image_tag t.image_url, size: "250x200" if t.image? %>
        <%= t.user.email %>
        <%= t.name %>
        <%= t.store %>
<% end %> 
<% end %>
        </div>
     </div>
     <div class="bl_media_itemWrapper">
     <div class="bl_media_item">
       <p class="img"><img src="img/..." alt=""></p>
<% @tweets.each do |t| %>
 <% if t.category == "ソフト系" %> 
 <%= image_tag t.image_url, size: "250x200" if t.image? %>
        <%= t.user.email %>
        <%= t.name %>
        <%= t.store %>
<% end %> 
<% end %>        
        </div>
     </div>
</div>

<div class="nav-links">
  <a class="prev page-numbers" href="http://localhost:3000/tweets/soft">«</a><!-- 現在の前のページへのリンク -->
  <a class="page-numbers" href="http://localhost:3000/tweets/soft">1</a>
  <span class="page-numbers current">2</span><!-- 現在閲覧しているページ -->
  <a class="page-numbers" href="http://localhost:3000/tweets/soft">3</a>
  <span class="page-numbers dots">…</span>
  <a class="page-numbers" href="http://localhost:3000/tweets/soft/page/10">10</a>
  <a class="next page-numbers" href="http://localhost:3000/tweets/soft/page/3">»</a><!-- 現在の次のページへのリンク -->
</div>